<div class="container mt-5">
    <h1 class="fs-5 d-flex justify-content-center">Sign Up Page</h1>
    <div class="d-flex flex-column align-items-center">
        <%= form_with model: @user, url: sign_up_path, class: 'sign-up-form' do |form| %>
            <%= render "shared/form_errors", form: form %>
            <div class="form-group mt-2 mb-3">
                <%= form.label :first_name, "First Name", class: 'form-label' %>
                <%= form.text_field :first_name, class: 'form-control' %>
            </div>
            <div class="form-group mb-3">
                <%= form.label :last_name, "Last Name", class: 'form-label' %>
                <%= form.text_field :last_name, class: 'form-control' %>
            </div>
            <div class="form-group mb-3">
                <%= form.label :email, "Email", class: 'form-label' %>
                <%= form.text_field :email, class: 'form-control' %>
            </div>
            <div class="form-group mb-3">
                <%= form.label :mobile_number, "Phone Number", class: 'form-label' %>
                <%= form.text_field :mobile_number, class: 'form-control' %>
            </div>
            <div class="form-group mb-3">
                <%= form.label :password, "Password", class: 'form-label' %>
                <%= form.password_field :password, class: 'form-control' %>
            </div>
            <div class="form-group mb-3">
                <%= form.label :password_confirmation, "Password Confirmation", class: 'form-label' %>
                <%= form.password_field :password_confirmation, class: 'form-control' %>
            </div>
            <div class="form-group mb-3">
                <%= form.label :account_type_id, "Select Account Type", class: 'form-label' %>
                <%= form.collection_select :account_type_id, @account_type, :id, :name, {}, {class: 'form-control'}%>
            </div>
            <div class="mb-3 d-grid gap-2">
                <%= form.submit "Sign Up", class:"btn btn-primary" %>
            </div>
        <% end %>
    </div>
</div>